# OS & IDE
.DS_Store
.env
.env.local
.vscode/
.idea/
*.sublime-*
*.log
Thumbs.db

# Node & NPM
node_modules/
package-lock.json
npm-debug.log

# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/backup-*
.wp-cli/cache/

# Backups
*.bak
*.backup
*.tmp
*~

# Large files
*.psd
*.zip

# Local prod-sync downloads
download/
